:root {
    --background: hsl(233, 22%, 8%);
    --button-background: hsl(235, 9%, 29%);
    --button-background-highlight: hsl(235, 9%, 20%);
    --link-color: hsl(288, 11%, 65%);
    --link-color-visited: hsl(288, 11%, 45%);
    --link-color-hover: hsl(288, 11%, 75%);
    --text-color: lightgray;
    --text-color-dark: darkgray;
    --text-color-light: whitesmoke;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: lightgray;
    background: var(--background);
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
    padding: 1rem;
    border-radius: 8px;
    background: var(--button-background);
    color: lightgray;
    font-size: large;
    border: none;
}

button:hover {
    background: var(--button-background-highlight);
    border: none;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color-visited);
}

a:hover {
    color: var(--link-color-hover);
}

main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}

.list-container {
    margin: 2rem;
}

table {
    border: 1px solid lightgray;
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    border: 1px solid lightgray;
}

tr:hover {
    background: gray;
}

/*input[type=text] {
    background: lightgray;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}*/
