:root {
    --background: hsl(210, 6%, 7%);
    --surface: hsl(220, 4%, 14%);

    --dark-purple: hsl(256, 100%, 16%);
    --error: hsl(349, 52%, 61%);

    --button-background: hsl(283, 86%, 32%);
    --button-background-highlight: hsl(283, 86%, 45%);

    --link-color: hsl(288, 11%, 65%);
    --link-color-visited: hsl(288, 11%, 45%);
    --link-color-hover: hsl(288, 11%, 75%);

    --text-color: white;
    --text-color-dark: white;
    --text-color-light: white;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: lightgray;
    background: var(--background);
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
    padding: 1rem;
    border-radius: 8px;
    background: var(--button-background);
    color: var(--text-color);
    font-size: large;
    border: none;
}

button:hover {
    background: var(--button-background-highlight);
    border: none;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color-visited);
}

a:hover {
    color: var(--link-color-hover);
}

main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}


input[type=text] {
    background: lightgray;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
}

input[type=checkbox] {
    background: lightgray;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date] {
    background: lightgray;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;

}

select {
    background: lightgray;
    font-size: large;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

